@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      rgba(128, 0, 128, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    url("https://source.unsplash.com/hCb3lIB8L8E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  text-align: center;
}

#title {
  color: white;
  margin-top: 15%;
  font-size: 2rem;
  letter-spacing: 1px;
}

#description {
  color: white;
  margin-top: 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px #5b5b5b;
  font-size: 1rem;
}

#form-container {
  width: 35%;
  background-color: rgba(0, 0, 255, 0.8);
  padding: 2rem;
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 1500px) {
  #form-container {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  #form-container {
    width: 100%;
  }
}

label {
  display: block;
  font-size: 1.1rem;
}

.input,
select {
  width: 100%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 6px 6px 6px 6px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#radio {
  margin-top: 0.5rem;
}

#comments {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#textarea {
  width: 100%;
  height: 10rem;
  border: none;
  border-radius: 3px;
}

#submit {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
  color: white;
  background-color: #61b15a;
  letter-spacing: 1px;
}
